# Required - Hugging Face token 
HF_TOKEN=hf_your_token_here

# Optional - overrides
API_BASE_URL=https://router.huggingface.co/v1
MODEL_NAME=Qwen/Qwen2.5-72B-Instruct

# Optional - OpenAI compatible API setup
# API_BASE_URL=https://api.openai.com/v1
# MODEL_NAME=gpt-4
# API_KEY=sk_xxxx

# Optional - only needed if using from_docker_image()
LOCAL_IMAGE_NAME=
